p {
    color: #000000;
    font-size: 25px;
    font-family: Helvetica, serif;
    margin: 25px 300px;
}

img {
    height: 175px;
    width: 250px;
}
#disc {
    height: 150px;
    width: 250px
}

ul {
    list-style-type: none;
    font-size: 25px;
    padding: 20px
}

#course {
    height: 300px;
    width: 300px
}

footer {
    text-align: right;
}

.styling {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}